@import '../variables.scss';
@import '../mediaQuerys.scss';
.Dashboard{
    width: 100%;
    min-height: 100vh;
    &__header{
        width: 100%;
        height: 60px;
        padding: 0 20px 0 5px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.DHeader{
  box-shadow: 0px -5px 15px 0px #48484c;
    &__Logo{
        display: flex;
        margin-right: auto;
    }
    &__image{
        margin-right: 10px;
        display: none;
         @include MQ (smartphone-large){
             display: block;
        }
    }
    &__title{
        color: $mainTextColor;
        font-size: $smallMobile;
        font-weight: 100;
        letter-spacing: $mainSpacing;
        align-self: center;
        padding-top: 5px;
        @include MQ (tablet-large){
            font-size: $bigMobile * 1.2;
        }
    }
     &__SignOutBtn{

        text-transform: uppercase;
        color: white;
        outline: none;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        background-image: $errorGradient;
        background-size: 300% 100%;
        transition: all .6s linear;
        box-shadow: 0 4px 10px 0 rgba(229, 66, 10, 0.75);
        @include MQ(tablet){
            font-size: $smallMobile * 0.8;
        }
        &:hover {
            cursor: pointer;
            background-position: 100% 0;
        }
    }
    &__ProfilePicture{
        height: 38px;
        width: 38px;
        margin-right: 10px;
        border: 1px solid #7c7c7c;
        border-radius: 5px;
    }
}