@import './variables.scss';
@import './mediaQuerys.scss';
.InnerChangeSection{
    margin: 0px auto 20px auto;
  @include MQ (tablet-large){
    position: absolute;
    background-color: rgba(50, 50, 50, 0.51);
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 10px;
    border: 1px solid white;
  }
}
.changeMessage{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: $mainSpacing + 0.025em;
    color: $mainTextColor;
    @include MQ (tablet-large){
        color: white;
        font-size: $bigMobile * 1.2;
    }
    @include MQ(desktop-medium){
        font-size: $bigMobile * 1.4;
    }
}
.changeSection__button{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        height: 32px;
        width: 155px;
        border: none;
        border-radius: 3px;
        background-image: $buttonColorGradient;
        text-transform: uppercase;
        font-size: $smallMobile;
        font-weight: 100;
        color: white;
        letter-spacing: $mainSpacing;
        outline: none;
        text-decoration: none;
        text-align: center;
        line-height: 32px;
        background-size: 300% 100%;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        &:hover {
            cursor: pointer;
            background-position: 100% 0;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        @include MQ (tablet-large){
            background-image: none;
            background-color: transparent;
            border: 1px solid white;
            transition: all .4s ease;
            box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
            &:hover{
            background-color: rgba(0, 4, 31, 0.29);
             }
         }
    }
