@import './variables.scss';
.forgotPasswordWrapper{
    background-image: $mainColorGradient;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.textFormContainer{
    font-size: $smallMobile - 2px;
    width: 65%;
    align-self:center;
    outline-style: none;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-15%);
    .header{
        font-size: $bigMobile;
        letter-spacing: $mainSpacing;
    }
    .underHeader{
        font-weight: 100;
        letter-spacing: $mainSpacing + 0.025em;
    }
    .backToLogin{
        margin-top: 2vh;
        color: #000046;
        text-decoration: underline;
        background-color: transparent;
        border: none;
        outline: none;
        text-align: center;
        font-size: $smallMobile - 2px;
        font-weight: 100;
        letter-spacing: 0.06em;
    }
}

.forgotPasswordForm{
    &__inputContainer{
        width: 100%;
        height: 50px;
        margin-top: 20px;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .inputContainer__input{
        background-color: transparent;
        color: white;
    }
    .inputContainer__label{
        border-bottom-color: darken(white, 20%);
        &::after{
            border-bottom-color: white;
        }
    }
    .registrationForm__SignUpButton{
        background-image: none;
        background-color: transparent;
        border: 1px solid white;;
    }
}
// .inputContainer{
//     &__input{
//         height: 100%;
//         width: 100%;
//         padding-top: 20px;
//         border: none;
//         outline-style: none;
//         font-size: $smallMobile;
//     }
//     &__label{
//         font-size: 16px;
//         position: absolute;
//         bottom: 0px;
//         left: 0px;
//         height: 100%;
//         width: 100%;
//         text-align: left;
//         pointer-events: none;
//         border-bottom: 1px solid lighten($mainTextColor, 20%);
//         &::after{
//             content: '';
//             position: absolute;
//             bottom: -1px;
//             left: 0px;
//             height: 100%;
//             width: 100%;
//             border: none;
//             outline-style: none;
//             border-bottom: 2px solid $mainTextColor;
//             transform: translateX(-100%);
//             transition: all .3s ease;
//         }
//         .labelContent{
//             position: absolute;
//             left: 0;
//             bottom: 2px;
//             transition: all .3s ease;
//         }
//     }
// }
// .registrationForm__SignUpButton{
//     width: 200px;
//     height: 40px;
//     text-align: center;
//     text-transform: uppercase;
//     font-size: $bigMobile;
//     font-weight: 100;
//     color: white;
//     letter-spacing: $mainSpacing;
//     border: none;
//     border-radius: 50px;
//     display: block;
//     margin: 5vh auto 10px auto;
//     outline: none;
//     background-image: $buttonColorGradient;
// }