$mainFont: 'Poppins', sans-serif;
$mainSpacing: 0.035em;
//colors
$mainTextColor: #000046;
$buttonColorGradient : linear-gradient(101.41deg, #000046 5.87%, #1CB5E0 95.01%);
$mainColorGradient: linear-gradient(142.13deg, #000046 13.54%, #1CB5E0 91.15%);;
//font sizes
$bigMobile: 20px;
$smallMobile: 18px;
