$mainFont: 'Poppins', sans-serif;
$mainSpacing: 0.035em;
//colors
$mainTextColor: #000046;
//$buttonColorGradient : linear-gradient(to right, #000046 , #1CB5E0 ,#1c81e0,#184e81);
$buttonColorGradient: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
$mainColorGradient: linear-gradient(142.13deg, #000046 13.54%, #1CB5E0 91.15%);
$errorGradient: linear-gradient(to right, #e85a19, #e43603, #fa7199, #e85a19);
//font sizes
$bigMobile: 20px;
$smallMobile: 18px;
